<!DOCTYPE html>
{% load static %}
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Login page</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <span>
               Rentars
            </span>
          </a>

          <div class="navbar-collapse" id="">
            <div class="user_option">
              <a href="index">
                Logout
              </a>
            </div>
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">

                <a href="index">Home</a>
                <a href="viewlogin">show login</a>
                <a href="viewcarbooking">car Bookings</a>
                  <a href="viewadddriver">Drivers</a>
                   <a href="insertcardetails">add your cars</a>
                <a href="viewrentdetails">rent details</a>
                 <a href="viewtripchart">tripchart</a>
                 <a href="viewcomplaint">compalints</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Add customer
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="form_container">
              <table border="2">
                  <tr>
                <td>Customer id</td>
                <td>Name</td>
                <td>Address</td>
                <td>Mobile no</td>
                    <td>Email id</td>
                    <td>Customer id</td>
                  </tr>
    {% for u in userdict %}

    <tr>
        <td>{{ u.cust_id }}</td>
        <td>{{ u.name }}</td>
        <td>{{ u.address }}</td>
        <td>{{ u.mobile_no }}</td>
        <td>{{ u.email_id }}</td>
        <td>{{ u.cust_type }}</td>
        <td> <a href="{% url 'customer_del' u.id %}">delete</a></td>

    </tr>
    {% endfor %}
</table>
          </div>
        </div>

      </div>
    </div>
  </section>


  <footer class="container-fluid footer_section">
    <p>
      Copyright &copy; 2020 All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </footer>
  <!-- footer section -->

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>